<!-- showing product cards through DROPDOWN -->
<div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>

  <ul class="dropdown-menu">
    
    <li (click)="filterByCategory(0)">
      <a class="dropdown-item" href="#">All</a>
    </li>

    @for(category of dropdownCategories; track category.id){
      <li (click)="filterByCategory(category.id)">
        <a class="dropdown-item" href="#">{{ category.name }}</a>
      </li>
    }
  </ul>

  <input [(ngModel)]="filterByName" type="text" class="form-control" aria-label="Text input with dropdown button">
</div>


<!-- this is logo (cover image) -->
<div class="d-flex justify-content-center mb-5">
  <img src="{{ store.storeLogo }}" class="img-fluid" alt="logo" />
</div>

<!-- showing product cards through input SEARCH -->
<div class="row grid gap-4 mx-5">
  @for(product of afterFilter; track product.id){

@if(!product.isPurchased) {    <div class="card" style="width: 30rem" class="col-md-4 mb-3" [ngClass]="{'class1':product.quantity>1,'bg-warning':product.quantity == 1}"> 
  <img src="{{ product.PrdimgURL }}" class="card-img-top" alt="prod_img" />
  <div class="card-body">
    <h3>{{ product.name }}</h3>
    <h3>{{ product.price }}</h3>
  </div>

  <h4 class="text-primary">
    @switch (product.categoryID) { @case (1) {Tables} @case (2) {Chairs}
    @default {TV Unit} }
  </h4>

  @if(product.quantity == 0){
  <p class="text-danger">Out Of Stock</p>
  } @else if (product.quantity== 1) {
  <p>Last one item</p>
  } @else if (product.quantity == 2) {
  <p>Last two item</p>
  } @else {
  <p>In stock {{ product.quantity }}</p>
  }

  <button (click)="addTOCart(product.id)" class="btn btn-danger" [disabled]="product.quantity == 0">Add To Cart <i class="fa-sharp fa-solid fa-cart-plus modifyIcon"></i></button>
</div>
  

     }
     @if (product.isPurchased) {
      <div class="alert alert-success" style="width: 200px; margin: auto;">
        Thanks for buying, {{ clientName }}!
        <button (click)="showBackProd(product.id)" class="btn btn-primary">
          Show Again
        </button>
      </div>
    }
      
    }
  
</div>


